    body {
      background-color: rgb(249, 216, 160);
        font-family: 'Inria Sans', sans-serif;
      }
    
      .navbar-brand {
        display: flex;
        align-items: center;
      }
    
      .logo-text {
        margin-left: 10px;
        color: black;
      }
    
      .food-stall {
        margin-left: 5px;
        font-size: 13px;
        color: black;
      }
    
      .navbar {
        background-color: #DAF7C3;
        border-bottom: solid 3px #F17978;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    
      .img-fluid {
        width: 280px; 
        height: 44px;
        border: #297743 solid 2px;
        border-radius: 10px; 
        background-color: #f8f9fa;
      }
      
  
      .menu-content{
          border: black solid 1px;
          padding: 5px;
          border-radius: 5px;
          background-color: #29774d40;
          max-height: 600px; /* Adjust the max-height as needed */
          overflow-y: auto; /* Enable vertical scrollbar */
          scrollbar-width: thick; /* Custom scrollbar for Firefox */
      }

      .menu-content::-webkit-scrollbar {
        width: 8px; /* Width of the scrollbar */
    }

    .menu-content::-webkit-scrollbar-track {
        background: wheat; /* Track color */
    }

    .menu-content::-webkit-scrollbar-thumb {
        background-color: #00000050; /* Thumb color */
        border-radius: 3px; /* Rounded corners */
        border: rgba(0, 0, 0, 0.5) solid 1px;
    }

    .menu-item {
      max-height: 360px;
        margin-bottom: 10px; /* Margin between menu items */
    }
  
      .menu {
      display: flex;
      justify-content: center; /* Center the buttons horizontally */
      align-items: center; /* Center the buttons vertically */
      }
  
      .menu-button {
        width: 100%; /* Set the width of the button */
      border: none;
      border-radius: 5px;
      background-color:#29774D;
      }

      
      .cart-container{
          border: 1px solid black; /* Border color */
          border-radius: 10px;
          background-color: #ffffff; /* Background color */
          position: relative; /* Ensure z-index works */
      }
      .cart-card {
      background-color: #0B8B57;
      border-radius: 10px 10px 0 0;
      padding: 10px;
      border: 2px solid black; /* Border color */
  }
  
  .cart-row {
      display: flex;
      justify-content: space-between;
      margin-bottom: 5px; /* Add spacing between rows */
  }
  
  .cart-item {
    text-align: center;
      color: white;
  }

  .cart-text{
    text-align: center;
  }
  .cart-order{
    margin: 5px;
  }

  .remove-item {
    cursor: pointer;
    color: red;
}

  
      .line {
      width: 100%;
      height: 10px;
      border-top: none;
      border-bottom: 1px solid #EFC900;
      background-color: transparent;
      border-radius: 0 0 20px 20px;
    }
    .container {
        align-items: center;
    }
    .btn {
        width: auto;
        background: #29774D;
        border: black solid 1px;
        padding: 5px;
        cursor: pointer;
        border-radius: 10px;
        color: black;
        font-size: 15px;
        }

    .ordernow{
      border: black solid 1px;
      border-radius: 50px;
      background-color:#29774D;
      width: 100%;
      }
      .img-menu{
        width: 160px;
        height: 100px;
        border-radius: 5px;
        border: black solid 1px;
      }

      .food{
        max-width: fit-content;
        margin: auto;
        padding: 10px;
        border: 1px solid black; /* Border color */
        border-radius: 5px;
        background-color: #ffffff70; /* Background color */
        position: relative; /* Ensure z-index works */
      }

    
